.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-location-modal {
  margin: 0 auto;
  width: 50%;
  padding-top: 5%;
}

.add-location-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #333;
  width: 80%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.middle-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle-button {
  padding: 5px;
}